body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #262626;
  color: white;
  line-height: 50px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

main {
  margin: 2% 5%;
  min-height: 700px;
  display: flex;
}
.container {
  width: 65%;
}
aside section {
  margin-top: 20px;
}
aside {
  display: block;
}

.leftAside {
  width: 15%;
  display: flex;
  flex-direction: column;
  padding-right: 4%;
}

.leftAside ul {
  list-style: none;
  padding: 0;
}

.leftAside h3 {
  font-style: oblique;
}

.rightAside {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.rightAside .login {
  padding: 5%;
  background-color: #f5f5f5;
}

.rightAside .login > input {
  margin: 0;
  padding: 0;
  height: 25px;

  border: solid 1px #e6e9ec;
}

.rightAside .login .check {
  margin-top: 10px;
  display: flex;
  align-items: center;
}


.rightAside .login button {
  width: 100%;
  height: 25px;
  background-color: rgb(75, 130, 255);
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}
footer {
  height: 80px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


